
#ifndef CREDENTIALS_H
#define CREDENTIALS_H

const char* WIFI_SSID = "XXX";
const char* WIFI_PSK = "XXX";
const char* MQTT_BROKER = "127.0.0.1";
const int MQTT_PORT = 1883;
const char* MQTT_USER = "user"; // NULL if no user
const char* MQTT_PASS = "pass"; // NULL if no password
String MQTT_TOPIC = "home/table/";

#endif // CREDENTIALS_H